<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css" rel="stylesheet">
    <style>
        .scrollable-menu {
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
        }
    </style>
</head>
<body>
<header th:replace="fragments/navbar :: navbar"/>

<div class="d-flex justify-content-center">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" style="margin-top: 10vh">
        <form class="card shadow p-3" th:object="${book}" th:action="@{/book/edit/__${id}__}" th:method="put">
            <h1 class="text-center mb-4">Edit book</h1>
            <div class="alert alert-danger mb-3">
                Error
            </div>
            <div class="mb-3">
                <label class="form-label" for="book_title">Title</label>
                <input class="form-control" id="book_title" type="text" th:field="*{title}">
            </div>
            <div class="mb-3">
                <label class="form-label" for="book_synopsis">Synopsis</label>
                <textarea class="form-control" id="book_synopsis" rows="3" th:field="*{description}"></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label" for="publish_year">Publication date</label>
                <input class="form-control" id="publish_year" rows="3" type="text" name="datepicker" th:field="*{published}"></input>
            </div>

            <div class="mb-3">
                <label class="form-label" for="publisher_list">Publisher</label>
                <select id="publisher_list" th:field="*{publisher}" class="w-100" th:default="'Choose publisher'">
                    <option th:each="p : ${publishers}" th:value="${p.name}" th:text="${p.name}"></option>
                </select>
            </div>

            <div class="mb-3" th:object="${authors}">
                <label class="form-label" for="author_list">Author(s)</label>
                <input class="form-control" id="author_list" list="author_options" multiple
                       placeholder="Type to search..."  th:field="${book.author}">
                <datalist id="author_options" th:each="a :${authors}" th:default="${book.publisher}" >
                    <option th:value="${a.firstname}+' '+${a.lastname}">
                </datalist>
            </div>

            <div class="mb-3" th:object="${bookstores}">
                <label class="form-label" for="bookstore_list">Bookstore(s)</label>
                <input class="form-control" id="bookstore_list" list="bookstore_options" multiple
                       placeholder="Type to search..."  th:field="${book.bookstores}">
                <datalist id="bookstore_options" th:each="a :${bookstores}" th:default="${book.bookstores}">
                    <option th:value="${a.name}">
                </datalist>
            </div>
            <div class="d-flex flex-row gap-2" style="justify-content: space-between">
                <button class="btn btn-outline-success w-100" type="submit">Save</button>
                <a class="btn btn-light w-100" th:href="@{/}" type="submit">Cancel</a>
            </div>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>
<script>

    var datalist = jQuery('datalist');
    var options = jQuery('datalist option');
    var optionsarray = jQuery.map(options, function (option) {
        return option.value;
    });
    var input = jQuery('input[list]');
    var inputcommas = (input.val().match(/,/g) || []).length;
    var separator = ',';

    function filldatalist(prefix) {
        if (input.val().indexOf(separator) > -1 && options.length > 0) {
            datalist.empty();
            for (i = 0; i < optionsarray.length; i++) {
                if (prefix.indexOf(optionsarray[i]) < 0) {
                    datalist.append('<option value="' + prefix + optionsarray[i] + '">');
                }
            }
        }
    }

    input.bind("change paste keyup", function () {
        var inputtrim = input.val().replace(/^\s+|\s+$/g, "");
        var currentcommas = (input.val().match(/,/g) || []).length;
        if (inputtrim != input.val()) {
            if (inputcommas != currentcommas) {
                var lsIndex = inputtrim.lastIndexOf(separator);
                var str = (lsIndex != -1) ? inputtrim.substr(0, lsIndex) + ", " : "";
                filldatalist(str);
                inputcommas = currentcommas;
            }
            input.val(inputtrim);
        }
    });

    $(".dropdown-menu li").click(function () {
        $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
        $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
    });


    $(document).ready(function(){
        $("#publish_year").datepicker({
            format: "yyyy",
            viewMode: "years",
            minViewMode: "years",
            autoclose:true //to close picker once year is selected
        });
    })


</script>
</body>
</html>