<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<header th:replace="fragments/navbar :: navbar"/>

<div class="d-flex justify-content-center">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" style="margin-top: 10vh">
        <form class="card shadow p-3">
            <h1 class="text-center mb-4">Edit book</h1>
            <div class="alert alert-danger mb-3">
                Error
            </div>
            <div class="mb-3">
                <label class="form-label" for="book_title">Title</label>
                <input class="form-control" id="book_title" type="text">
            </div>
            <div class="mb-3">
                <label class="form-label" for="book_synopsis">Synopsis</label>
                <textarea class="form-control" id="book_synopsis" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label" for="publish_year">Publication date</label>
                <input class="form-control" id="publish_year" rows="3" type="date"></input>
            </div>
            <div class="mb-3">
                <label class="form-label" for="author_list">Author(s)</label>
                <input class="form-control" id="author_list" list="author_options" multiple
                       placeholder="Type to search...">
                <datalist id="author_options">
                    <option value="Jane Austin">
                    <option value="Emily Dickinson">
                    <option value="William Blake">
                    <option value="Ernest Hemingway">
                    <option value="John Grisham">
                </datalist>
            </div>
            <div class="d-flex flex-row gap-2" style="justify-content: space-between">
                <button class="btn btn-outline-success w-100" type="submit">Save</button>
                <a class="btn btn-light w-100" th:href="@{/}" type="submit">Cancel</a>
            </div>
        </form>
    </div>
</div>

<script>
    var datalist = jQuery('datalist');
    var options = jQuery('datalist option');
    var optionsarray = jQuery.map(options, function (option) {
        return option.value;
    });
    var input = jQuery('input[list]');
    var inputcommas = (input.val().match(/,/g) || []).length;
    var separator = ',';

    function filldatalist(prefix) {
        if (input.val().indexOf(separator) > -1 && options.length > 0) {
            datalist.empty();
            for (i = 0; i < optionsarray.length; i++) {
                if (prefix.indexOf(optionsarray[i]) < 0) {
                    datalist.append('<option value="' + prefix + optionsarray[i] + '">');
                }
            }
        }
    }

    input.bind("change paste keyup", function () {
        var inputtrim = input.val().replace(/^\s+|\s+$/g, "");
        var currentcommas = (input.val().match(/,/g) || []).length;
        if (inputtrim != input.val()) {
            if (inputcommas != currentcommas) {
                var lsIndex = inputtrim.lastIndexOf(separator);
                var str = (lsIndex != -1) ? inputtrim.substr(0, lsIndex) + ", " : "";
                filldatalist(str);
                inputcommas = currentcommas;
            }
            input.val(inputtrim);
        }
    });
</script>
</body>
</html>