<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>

<header th:replace="fragments/navbar :: navbar"/>
<div class="d-flex justify-content-center">
    <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-12" style="margin-top: 10vh">
        <div class="alert alert-success w-75 m-auto" role="alert" th:if="${success}" th:text="${success}"></div>
        <div class=" w-75 m-auto" th:each="author : ${authors}">
            <div class="card w-100 mb-3 shadow-lg">
                <div class="card-body">
                    <h5 class="card-title" th:text="${author.firstname}+' '+${author.lastname}"></h5>
                    <p class="card-text text-truncate" style="max-width: 100%; max-height: 100px" th:text="${author.info}"></p>
                    <a th:href="@{/authors/details/__${author.id}__}" class="card-link">See profile</a>
                    <a sec:authorize="hasAuthority('admin')" th:href="@{/author/delete/__${author.id}__}" class="card-link">Delete</a>
                    <a sec:authorize="hasAuthority('admin')" th:href="@{/author/edit/__${author.id}__}" class="card-link">Edit</a>
                </div>
            </div>

        </div>

    </div>
</div>

</body>
</html>